* {
    margin: 0;
    padding: 0;
    background-color: bisque;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}

body {
    position: relative;
    overflow: hidden; /* opcional, para que no se escape del viewport */
    user-select: none;
    touch-action: manipulation;
}

.buttons-container {
    display: flex;
    gap: 20px; /* Espacio entre los botones */
    margin-top: 10px;
}


.buttons{
    width: 100px;
    height: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    max-width: 90vw; /* se adapta en pantallas chicas */
}

.buttons:hover{
    background-color: #c5844f;
    box-shadow: 0px 15px 20px rgba(229, 150, 46, 0.4);
    color: #fff;
    transform: translateY(-5px);
  }
